<p>
 {{name}} {{people.roll}}
</p>
<!-- <ng-content></ng-content> -->
<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12">
			<label>server name</label>
			<input type="text" class="form-control" [(ngModel)]="serverName">
			<input type="text" class="form-control" #localServerName>
		</div>
		<div class="col-xs-12">
			<label>server Type</label>
			<input type="text" class="form-control" [(ngModel)]="serverType">
		</div>
		<div class="col-xs-12">
			<button class="btn btn-submit" (click)="createServer()">Create Server</button>
			<button class="btn btn-submit" (click)="createServer1(localServerName)">Create Server</button>
			<button class="btn btn-danger" (click)="createBluePrintServer()">Create Server</button>
		</div>
	</div>
	<p>name = {{serverName1}} and type = {{serverType1}}</p>
</div> -->
