<div class="container">
  <div class="row">
    <div class="col-xs 12">
      <h1>This is my first Angular App!</h1>
      <app-server [msg]="name"></app-server>
      <!-- <div class=app-servers></div> -->
	     <!-- <p *ngIf="serverName!==''">server is created. name is:-{{serverName}} </p> -->
      <input class="form-control" type="text" [(ngModel)]="name">
      <!-- <p>{{name}}</p> -->
      <!-- <button [disabled]="name===''" class="btn btn-danger" (click)="createServer()">Create Server</button> -->
      <!-- <app-servers></app-servers> -->
  </div>
</div>
