
<div class="container">
  <div class="row">
    <div class="col-xs-12">
	<app-sub-test (srvCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-sub-test>
    </div>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger" (click)="onChange()">Change Server Name</button>
      <button class="btn btn-danger" (click)="onDelete()">Distroy component</button>
      <app-lifecycle-hooks *ngFor="let xyz of serverElement" [element]="xyz" [name]="xyz.name">
          <p #contentParagraph>
            <strong *ngIf="xyz.type === 'server'" style="color: red">{{ xyz.content }}</strong>
            <em *ngIf="xyz.type === 'blueprint'" style="color: blue">{{ xyz.content }}</em>
          </p>
      </app-lifecycle-hooks>
  </div>
</div>
