<div class="row">
	<div class="col-xs-12">
		<app-sub-test *ngFor="let xyz of peoples" [people]="xyz" [name]="xyz.name"></app-sub-test>
<!-- 		<app-sub-test (onServerCreated)="serverDetail($event)">
	<h1>Hi this is manish</h1>
</app-sub-test> -->
<button class="btn btn-primary" (click)="changeServername()">change server name</button>
<button class="btn btn-primary" (click)="changeServername1()">change server name1</button>
	</div>
</div>

<!-- <div class="container">
	<button class="btn btn-primary" (click)="changeServername()">change server name</button>
	<div class="panel panel-default"  *ngFor="let sdetail of Servers">
		<div class="panel-heading">
			{{sdetail.name}}
		</div>
		<div class="panel-body" >			
			<p>{{sdetail.type}}</p>
		</div>
	</div>
</div> -->